@model WebApp.Models.ListingsType



<form method="post" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">Add Listings Type</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row mt-4">
                    <div class="col-12 text-end">
                        <div class="d-inline-block me-2">
                            <input type="submit" class="btn btn-info" value="Create" />
                        </div>
                        <a asp-controller="Categories" asp-action="Index" class="btn btn-success">
                            <i class="fa-solid fa-right-from-bracket"></i> Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}